# Homework 0

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### Lists

Create an empty Python list called 'a' in the cell below.

In [1]:
a=[]

Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [2]:
for i in range (1,101,3):
    a.append(i)
print (a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]

Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [3]:
a2 = []
i= 2
while i <= 46:
    a2.append(i)
    i += 0.5
print (a2)

[2, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0]

Double every even integer element from list 'a'. Store the results back in 'a'.

In [4]:
for i in range (len(a)) :
    if a[i] % 2 == 0:
        x = 2*a[i]
        a.append(x)
print (a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100, 8, 20, 32, 44, 56, 68, 80, 92, 104, 116, 128, 140, 152, 164, 176, 188, 200]

Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

In [5]:
s = 0
for i in a:
    s += i
asum = s - (a[2] + a[21])
print (asum)

3414

Calculate the mean of 'a'.

In [6]:
mean = s/len(a)
print (mean)

68.33333333333333

### Strings

Create an empty list called 'b'.

In [7]:
b = []

Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [8]:
sentence = "I am so excited about Data-X. It is important to be able to work with data."
b = sentence.split()
print (b)

['I', 'am', 'so', 'excited', 'about', 'Data-X.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data.']

Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [9]:
count = 0
for i in sentence:
    if i == 'e':
        count += 1
print (count)

4

Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [10]:
sentence = sentence.replace('i' , '1')
sentence = sentence.replace('I' , '1')
b = sentence.split()
print (b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.']

# Append the string "This is the end of the first HW." to the list 'b'.

In [11]:
b.append("This is the end of the first HW.")
print (b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.', 'This is the end of the first HW.']

Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [12]:
c = " ".join(b)
b = ""
for i in range (len(c)-1 , -1 , -1):
    b += c[i] 
print (b)

.WH tsrif eht fo dne eht si sihT .atad ht1w krow ot elba eb ot tnatropm1 s1 t1 .X-ataD tuoba det1cxe os ma 1

### Dictionaries

Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', Beta, 'Gamma, 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [13]:
codes = {1001:'Alpha' , 1002:'Beta' , 1003:'Gamma' , 1004:'Delta' , 1005:'Tau'}

Delete 'alpha' from the dictionary.

In [14]:
if 1001 in codes: del codes[1001]
print (codes)

{1002: 'Beta', 1003: 'Gamma', 1004: 'Delta', 1005: 'Tau'}

### Sets

Create a set called 'c' with the all the odd numbers less than 10.

In [15]:
list1 = []
for i in range (1,10,2):
    list1.append(i)
c = set (list1)
print (c)

{1, 3, 5, 7, 9}

Create another set called 'd' with elements 2, 5, 10, 30.

In [16]:
d = set([2,5,10,30])
print (d)

{2, 10, 5, 30}

Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [17]:
e = c.union(d)
print (e)

{1, 2, 3, 5, 7, 9, 10, 30}

Find the intersection between sets 'c' and 'd'.

In [18]:
f = c.intersection(d)
print (f)

{5}